@model List<Category>

<div id='category_container'>
    
    <h1>Manage Category</h1>
    <div class="col-12 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn ">
            <i class="bi bi-plus-circle"></i>
            Create new Category
        </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
                    <tr>
                        <th class="table-primary">
                            Category Name
                        </th>
                        <th class="table-primary">
                            Display Order
                        </th>
                        <th class="table-primary">
                            
                        </th>
                        <th class="table-primary">
                            
                        </th>
                    </tr>
         </thead>
         <tbody>
            @foreach(var obj in Model)
            {
                 <tr>
                 <td>@obj.Name</td>
                 <td>@obj.DisplayOrder</td>
                 <td>
                        <a class="actions_btn" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                            <i class="fa-regular fa-pen-to-square"></i>
                     </a>
                    </td>
                 <td>
                        <a class="actions_btn" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            <i class="fa-solid fa-trash"></i>
                      </a>
                 </td>
                 </tr>
            }
           
        </tbody>
    </table>
</div>