<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookListWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookListWeb.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>BL</h1>
                    <span></span>
                </a>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Book" asp-action="Index">
                                <i class="fas fa-solid fa-box-archive"></i>
                                <span class="nav-item">Books Management</span>
                            </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">
                                    <i class="fas fa-solid fa-list"></i>
                                    <span class="nav-item">Categories Management</span>
                                </a>
                            </li> 
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-solid fa-book"></i>
                                <span class="nav-item">Books</span>
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Role_User)){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Privacy">
                                    <i class="fas fa-solid fa-heart"></i>
                                    <span class="nav-item">My List</span>
                                </a>
                            </li>
                        }
                        

                    </ul>
                   <div class="partial_login">
                        <partial name="_LoginPartial" />
                   </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="side_bar_ pb-3">
            @RenderBody()
            <partial name="_Notification" />
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
